*
{
    margin: 0;
    padding: 0;
}
header{
    background: white;
    padding: 50px 240px;
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2rem;
    margin-left: 5px;
    width: 300px;
    
}
nav > ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424247;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    display: flex;
}
.nav-img{

}
.icons{
    display: none;
    width: 400px;
}
main{
    width: 100%;
    height: 40rem;
   
    display: flex;
}
.about-travel{
    width: 100%;
    height: 100%;
    background:url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    margin:80px 350px;
   
}
.travel-ditails{

}
.why{
    color: #fff;
    text-align: center;
    margin-top: 100px;
    font-size: 4rem;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 20px;
}
.text{
    color: #fff;
    margin-left: 290px;
    font-size: 1.3rem;
    text-shadow: 1px 1px 1px black;
}
.text-2{
    color: #fff;
    font-size: 1.3rem;
    text-shadow: 1px 1px 1px black;
    margin-left: 380px;
    margin-bottom: 60px;
}
.travel-option{
    
    display: inline-flex;
    padding: 16px;
    align-items:center;
    justify-content: center;
    gap: 24px;
    margin-left: 230px;
    background-color:rgba(255, 255, 255, 0.30);
    height: 3rem;
    width: 50%;
    
}
.offer{
    width: 140px;
    height: 30px;
    border: 0;
    border-radius: 8px;
    padding: 10px;
}
.choose,.btn ,.offer:focus{
    outline: none;
}
.choose{
    width: 140px;
    height: 48px;
    border: 0;
    border-radius: 8px;
}
.btn{
    width: 150px;
    height: 48px;
    border: 0;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #FF5400;
    font-family: sans-serif;
    color: #fff;
}
.tour{
    width: 100%;
    height: 600px;
   
    
}
.tour-ditails{
    width: 100%;
    height: 580px;
    display: flex;
    margin-top: 20px;
    
}
.tour-text{
    width: 53%;
}
.tour-head{
    margin-left: 360px;
    font-size: 4rem;
    margin-top: 10px;
}
.tour-para{
    width: 330px;
    margin-left: 360px;
    margin-top: 30px;
}
.tour-info{
    width: 450px;
    margin-left: 360px;
    margin-top: 30px;
}
.btn-2{
    width: 150px;
    height: 48px;
    border: 0;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #FF5400;
    font-family: sans-serif;
    color: #fff;
    margin-left: 360px;
    margin-top: 20px;
}
.destination{
    width: 100%;
    height: 1200px;
}
.des-ditails{
    width: 100%;
    height:1100px ;
   justify-content: center;
   align-items: center;
    
   
}
.trip{
    
    width: 100%;
    height: 150px;
}
.go{
    margin-left: 620px;
    font-size: 3rem;
}
.bye{
    margin-left: 640px;
    font-size: 1rem;
    margin-top: 20px;
}
.des-pic{
    margin-left: 360px;
    padding: 10px;
}
.sri{
    margin-right: 10px;
}
.kash{
    margin-left: 15px;
}
.mal{
    margin-right: 10px;
    position: relative;}

.sundor{
    margin-right: 10px;
}
.service-offer{
    width: 100%;
    height: 820px;
    
}
.offer-catagory{
    width: 100%;
    height: 850px;
   
   
}
.offer-text{
    width: 100%;
    height: 150px;
    
}
.offer-head{
    margin-left: 700px;
    font-size: 3rem;
}
.offer-head-2{
    margin-left: 610px;
    margin-top: 20px;
}
.offer-box{
    width: 100%;
    height: 330px;
   
    display: flex;
    justify-content: center;
}
.box-1{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-right: 20px;
}
.box-2{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);

}
.home{
    width: 50px;
    padding: 40px 40px;
}
.home-text{
    margin-left: 40px;
    margin-bottom: 20px;
}
.home-head{
    margin-left: 40px;
    width: 350px;
}
.box-3{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
   margin-left: 650px;

}
.deals{
    width: 100%;
    height: 1900px;
    
}
.deal-text{
    width: 100%;
    height: 120px;
  
}
.deal-head{
    font-size: 3rem;
    margin-left: 700px;
}
.deal-para{
    font-size: 1.2rem;
    margin-left: 520px;
}
.mal-book{
    width: 100%;
    height: 2000px;
}
.malasia{
    background: url(Images/Group\ 39.png);
    width: 70%;
    height: 600px;
    background-repeat: no-repeat;
    margin-left: 300px;
    display: flex;
}
.mal-box{
    width: 579px;
    height: 389px;   
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin: 50px 60px 60px 520px;
}
.icon-infos{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;
    
}
.days-time{
    margin-left: 20px;
}
.guide{
    margin-left: 40px;
    margin-top: 30px;
}
.t-guide{
    width: 320px;
    margin-left: 40px;
    margin-top: 20px;
}
.doller{
    margin-left: 40px;
    margin-top: 20px;
    color: #FF5400;
    font-size: 1.3rem;
}

.btn-3{ width: 150px;
        height: 48px;
        border: 0;
         border-radius: 8px;
       font-size: 1rem;
       background-color: #FF5400;
       font-family: sans-serif;
       color: #fff;
       margin-left: 40px;
       margin-top: 30px;
    
    }

.mal-box-1{
    width: 579px;
    height: 389px;   
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin: 50px 40px;

}


/*responsive */
@media screen and (max-width:576px) {
    header{
        padding: 5px;
    }
    .nav-img{
        margin-top: 20px;
        margin-left: 10px;

    }
    .nav-title{
        font-size: 20px;
        margin-top: 30px;
        width: 200px;
    }
    a{
        display: none;
       
    }
    .icons{
        display:flex;
        margin-top: 20px;
        
    }
    .about-travel{
        margin: 0;
        padding: 0;
        width: 95%;
        background-repeat:no-repeat;
        background-size: cover;
        margin-left: 10px;
        border-top-right-radius:12px ;
        border-bottom-right-radius:12px ;
        
      
      
    }
    .why{
        font-size: 2rem;
    }
    .text{
        font-size: 26px;
       
        margin: 20px 32px;
    }
    .text-2{
        font-size: 25px;
        margin: 20px;
        margin-bottom: 10px;

    }
    .travel-option{
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 60%;
        margin-top: 30px;
        height: 290px;
        margin-left: 90px;
    }
    .offer{
        width: 40%;
    }
        
  
        .tour-ditails{
            flex-direction: column;

        }
        .tour-text{
            flex-direction: column;
        }
        .tour-head{
            margin: 0;
            font-size: 2rem;
            margin-left: 25px;
        }
        .tour-para{
            margin-left: 25px;
        }
        .tour-info{
            margin-left: 25px;
        }
        .btn-2{
            margin-left: 25px;
        }
        .tour-img{
            width: 92%;
            padding: 20px;
        }
        .destination{
            margin-top: 400px;
        }
        .des-ditails{
            flex-direction: column;
            margin: 0;
            padding: 0;

        }
        .des-pic{
            margin-left: 20px;
        }
        .go{
            margin-left: 25px;
            font-size: 2rem;
        }
        .bye{
            margin-left: 25px;
            font-size: 1.6rem;
        }
        .mal{
            width: 100%;
            
        }
        .indo{
            width: 100%;
            margin: 0;
        }
        .sri{
            margin-left: 30px;
        }
        .uk{
            width: 100%;
        }
        .kash{
            width: 90%;
            margin-left: 20px;
        }
        .sundor{
            width: 100%;
        }
        .bd{
            width: 100%;
        }
        .service-offer{
            margin-top: 1100px;
        }
        .offer-head{
            margin-left: 70px;
            font-size: 2rem;
        }
        .offer-box{
            flex-direction: column;
            width: 100%;
            height: 75%;
        }
        .offer-head-2{
            margin-left: 20px;
           
        }
        .box-1 , .box-2{
            width: 90%;
            margin-left: 30px;
            margin-top: 20px;
          
        }
        .offer-catagory{
            width: 100%;
        }
        .offer-text{
            width: 100%;
            height: 100px;
        }
        .box-3{
            width: 90%;
            margin-left: 30px;
            
        }
        .home{
           padding: 20px;
            margin-bottom: 10px;
            margin-left: 20px;
        }
        .home-text{
            
            
        }
        .deals{
            margin-top: 230px;
        }
        .deal-text{
            margin: 0;
            width: 100%;
            height: 120px;
        }
        .deal-head{
            margin: 20px;
            font-size: 2rem;
        }
        .deal-para{
            margin: 20px;
            font-size: 12px;
        }
        .malasia{
            margin: 0;
            width: 95%;
            border-top-right-radius:12px ;
            border-bottom-right-radius:12px ;
            margin-left: 10px;
        }
        .mal-box{
            margin: 50px 20px;
            width: 100%;

        }
        .mal-box-1{
            margin: 50px 20px;
        }

        
        

    }
    





   
   
    





    

    
  

